html {
	overflow-y: scroll;
}

.media img{
	padding: 5px 5px 5px;
	border: 3px solid #FCFCFC;
	border-radius: 13px;
	background-color: #3C3C3C;
}
.media .twitter:hover {
	background-color:#3899FF;
}
.media .facebook:hover {
	background-color:#0042B7;
}
.media .googleplus:hover {
	background-color:#E13437;
}

nav {
  padding: 20px 50px 10px;
  font-size: 20px;
  text-align: center;
}

nav a {
	text-decoration: none;
	Color: #fff;
}

nav ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
}

nav ul li {
  font: bold 20px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 45px;
  background: #4C4C4C;
  cursor: pointer;
  color: #fff;
}

nav ul li:hover > a {
	color: #000;
}

nav ul li:hover {
  background: #273C6C;
  color: #000;
}
nav ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 220px;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
}
nav ul li ul li { 
  background: #909090; 
  display: block; 
  color: #fff;
  font: bold 17px/18px sans-serif;
  border-top:thin solid #161616;
}
nav ul li ul li:hover { background: #4B5D8F; }
nav ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

body {
	background-color:#161616;
}

.body {
	background-color:#DCDCDC;;
	margin: 40px auto 30px auto;
	width:1000px;
	padding: 10px 0px 35px;
}

div.center {
	text-align: center;
	margin: 0 auto;
	display: block;	
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bluetitle {
	text-align:center;
	color:#224392;
	font: bold 2em/18px sans-serif;
	padding: 15px 0 15px 0;
	line-height: 1em;
}

.blacktitle {
	text-align:center;
	font: bold 1.4em/18px sans-serif;
	line-height:1em;
}

.redtitle {
	text-align:center;
	font: normal 1.1em/18px sans-serif;
	color:#B10002;
}

.warriortitle {
	text-align:center;
	color:#224392;
	font: bold 3.1em/18px sans-serif;
	line-height: 1em;
}

p {
	font: 1.1em/18px sans-serif;
	margin: 0px 200px 0px;
	line-height: 30px;
	text-indent:50px;
	text-align:justify;
}

p.center {
	text-indent:0;
	text-align:center;
}

a {
	text-decoration:none;
}

#gamelink {
	text-align:center;
	font: bold 1.5em/18px sans-serif;
	padding: 10px 10px 10px;
	border-radius: 1em;
}

.flappyforest {
	color: #000;
	background-color:#346EBD;
	border:thick solid #252525;
}
.flappyforest:hover {
	background-color:#6B92D8;	
}

.galaxyinvaders {
	color:#FFF;
	background-color:#003;
	border:thick solid #0C0D13;
}
.galaxyinvaders:hover {
	background-color:#181774;
}

.warriorguild {
	color: #000;
	background-color:#563D2C;
	border:thick solid #000;
}
.warriorguild:hover {
	background-color:#948471;
}
