<body>
    
    <div class="body">
      <h1>RAD Game Studios</h1>
      <p>RAD is a small company created by a single developer. Being this small, it is hard to attract the big number of downloads that top games have so I greatly appreciate everyone who downloads my games and shares them with their friends. There is currently only one published game, a game in developement, and a game postponed for future developement. At the  moment, all published games will only be for Android mobile devices, available through the Google Play Store. I plan on taking mobile games to iPhones in the future and possibly making a browser based game.</p> 
      <br>
      <h1>About The Dev</h1>
      <p>My name is Rad and I'm currently a senior in highschool. I took my first computer science class this year and made my first mobile game in about a month. To make my games, I use a Java game framework called libGDX. Being a beginner in the coding world, I try my hardest to learn more about the laungage so I can make games that run smoothly and have little to no bugs. I do not rush anything I work on so release dates are expected to be delayed.</p>
    </div>
    
    <br>
    <center><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- RAD Site Bottom Banner -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5076248265904799"
     data-ad-slot="8106901467"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></center>
    
</body>