<body>
    
    <div class="body">
    <br>
      <center><img src="images/flappyforest/flappyforest.jpg" width="499" height="243" alt=""/></center>
      <p>Flappy Forest is RAD studio's first game developed for android mobile devices. It is a simple touch to flap game that stands out from the rest of the Flappy Bird remakes.</p>
       <br>
       
       <center><img src="images/flappyforest/flappystartscreen.jpg" width="240" height="400" alt=""/></center>
      <p>Flappy Forest is the first Flappy Bird remake on Google Play to incorporate completely vertical flying by using the accelerometer along with tap-to-fly.</p>
      <br>
      
      <center><img src="images/flappyforest/flappygamescreen.jpg" width="321" height="400" alt=""/></center>
      <p>Fly between the tree branches to increase your score. If you crash,  your game is over.</p>
      <br>
      <br>
      <p>For some more info, check out Flappy Forest on</p>
      <h1><a target="_blank" href="https://play.google.com/store/apps/details?id=com.rg.flappyforest&hl=en"><img src="images/google-play-icon.png" width="200" height="69" alt=""/></a></h1>
    </div>
    
    <br>
    <center><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- RAD Site Bottom Banner -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5076248265904799"
     data-ad-slot="8106901467"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></center>
    
</body>