<head>
	<title>Rad Games | Community Forums</title>
</head>

<body>
    
    <div class="body">
    	<div class="redtitle">*Currently Under Construction*</div>
        <br />
    	<div class="bluetitle">Forums</div>
        <hr />
    </div>
    
    <!-- RAD Site Bottom Banner -->
    <br>
    <center><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5076248265904799"
     data-ad-slot="8106901467"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></center>
    
</body>