<head>
	<title>Rad Games | Community Forums</title>
</head>

<body>
    
    <div class="body">
    	<div class="redtitle">*Currently Under Construction*</div>
        <br />
    	<div class="bluetitle">Forums</div>
        <hr />
    </div>
    
</body>