<head>
	<title>Rad Games | Galaxy Invaders</title>
</head>

<body>
	
	<div class="body">
    	<div class="redtitle">*Game in development*</div>
        <br />
        <img class="center" style="border-radius:5em;" src="images/galaxyinvaders/title.png" width="930" height="135" alt="Feature graphic for Galaxy Invaders, made by RAD Games." />
        <div class="bluetitle">Protect the galaxy at all costs!</div>
        <p>You are the last surviving Space Commander from Earth and it is your duty to protect our home planet from the invading alien spaceships. Dodge and shoot lasers in your very own spaceship to earn experience and upgrades. Return to home base after your mission is complete. Keep pushing forward as the enemy is still out there and has much more in store for you.</p>
        <br />
        <br />
        <img class="center" src="images/galaxyinvaders/fight.png" width="500" height="330" alt="Screenshot of the Galaxy Invaders battle demo." />
        <br />
        <p>Galaxy Invaders is RAD Game Studio's first big project that we hope to bring to you as soon as possible. The game will be released in three stages to help keep you waiting and ensure that all bugs and glitches have been dealt with.</p>
        <br />
        <br />
        <br />
        <u><div class="blacktitle">Galaxy Battles Alpha</div></u>
        <p>This first release will be the basic gameplay for future multiplay. Once released, two users will be able to battle each other on a single computer.</p>
        <br />
        <br />
        <u><div class="blacktitle">Galaxy Battles Beta</div></u>
        <p>The beta version will be similar to the alpha, but with real-time multiplayer implemented.</p>
        <br />
        <br />
        <u><div class="blacktitle">Galaxy Invaders</div></u>
        <p>This final version will have all the features of a real-time multiplayer along with a linear single player campaign and will be released on the Google Play Store.</p>
    </div>
	
	<!-- RAD Site Bottom Banner -->
    <br>
    <center><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5076248265904799"
     data-ad-slot="8106901467"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></center>

</body>
