<head>
	<title>Rad Games | Game Library</title>
</head>

<body>
	
    <div class="body">
		<div class="bluetitle">Games made by RAD Studios:</div>
        
        <hr />
        
        <table align="center" height="100" width="400" border="0"><tbody>
   			<tr>
      			<td><a title="Go to Flappy Forest" href="flappyforest.html"><img src="images/flappyforest/flappyforesticon.png" width="100" height="100" alt="The official Android icon for Flappy Forest."></a></td>
     			<td><a title="Go to Flappy Forest" href="flappyforest.html"><div id="gamelink" class="flappyforest">Flappy Forest</div></a></td>
    		</tr>
  		</tbody></table>
        <hr />
        
        <table align="center" height="100" width="250" border="0"><tbody>
    		<tr>
      			<td></td>
      			<td><a title="Go to Galaxy Invaders" href="galaxyinvaders.html"><div id="gamelink" class="galaxyinvaders">Galaxy Invaders</div></a></td>
    		</tr>
  		</tbody></table>
        
    	<hr />
        <table align="center" height="100" width="250" border="0"><tbody>
    	<tr>
      		<td></td>
      		<td><a title="Go to Warrior Guild" href="warriorguild.html"><div id="gamelink" class="warriorguild">Warrior Guild</div></a></td>
    	</tr>
  		</tbody></table>
        <hr />
	</div>
	
</body>