<body>
    <div class="body">
      <h1>Welcome to RAD Game Studios.</h1>
      <center><img style="border-radius: 1.5em;  " src="images/radgames.jpg" width="500" height="500" alt=""/></center>
<p>Website is currently in its Alpha version. Feel free to look around, but be aware that some features and/or links may not be functional.</p>
    </div>
    
    <br>
    <center><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- RAD Site Bottom Banner -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5076248265904799"
     data-ad-slot="8106901467"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></center>
    
</body>