<head>
	<title>Rad Games | Home Page</title>
</head>

<body>
	
    <div class="body">
    	<div class="bluetitle">Welcome to RAD Game Studios.</div>
        <img class="center" style="border-radius: 1.5em;" src="images/radgames.jpg" width="500" height="500" alt="RAD Game Studios' very first logo.">
        <p class="center">Website is currently in its Alpha version. Feel free to look around, but be aware that some features and/or links may not be functional.</p>
    </div>
    
<!-- RAD Site Bottom Banner -->
    <br>
    <center><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5076248265904799"
     data-ad-slot="8106901467"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></center>
    
</body>