<body>
    <div class="body">
      <h1>Welcome to RAD Game Studios.</h1>
      <p>Website is currently under construction. Feel free to look around, but be aware that some features and/or links may not be functional.</p>
    </div>
    
</body>