<body>
    <div class="body">
      <h1>Welcome to RAD Game Studios.</h1>
      <center><img style="border-radius: 1.5em;  " src="images/radgames.jpg" width="500" height="500" alt=""/></center>
<p>Website is currently in its Alpha version. Feel free to look around, but be aware that some features and/or links may not be functional.</p>
    </div>
    
</body>