<body>
    
    <div class="body">
    <p style="color:#B10002">*Game in development*</p>
      <br><center><img src="images/meowlicous/meowlicious.jpg" width="432" height="265" alt=""/></center> 
      <p style="margin:0 200px 0">Meowlicous is the perfect game for cat lovers. Play with your cat to get cat coins. Use your coins to unlock new cats and toys for your cat.</p><br>
      
      <center><img src="images/meowlicous/feed.jpg" width="318" height="530" alt=""/></center>
      <p style="margin:0 250px 0;">Currently there is one gamemode called feed, in which the player flicks a cat treats into their cat's mouth.</p><br><br>
      
      <p style="font: bold 1.1em/18px sans-serif;">Finished Game Will Include:</p>
      <table align="center" border="0">
  <tbody>
    <tr>
      <td><p style="text-align:left; border-top:thin solid #626262">-Two or more game modes that gain you cat coins.</p></td>
    </tr>
    <tr>
      <td><p style="text-align:left">-A store to spend cat coins inluding new cats and toys.</p></td>
    </tr>
  </tbody>
</table>

    
</body>