<head>
	<title>Rad Games | Support RAD Studios</title>
</head>

<body>
    
	<div class="body">
		<div class="bluetitle">How to Support RAD Games</div>
        <p class="center">Small indie companies like this one need all the support they can get.
Here are some ways you can help out.</p>
        <br />
        
        <div class="bluetitle">Download</div>
        <p>The best way you can help out is simply by downloading my games. It is up to you whether you wish to keep it on your device or just try it out, but either way I will appreciate each and every download greatly.</p>
        <br />
        
        <div class="bluetitle">Social Media</div>
        <p>The easiest way to support RAD is through social media, so if you haven't done so already, feel free to like RAD Games on Twitter, Facebook, and Google Plus. Also sharing RAD Games with your friends won't take you much time, but it sure does help us out.</p>
        <br />
        
        <div class="bluetitle">Donate</div>
        <p>As a solo developer going into college, I really don't make any money at all, so any donation would be more than generous. Ad revenue for my games is currently a few pennies a day (a good day), so even a small amount of your spare change would make my day.</p>
        <div class="center"><a title="Donate with PayPal" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=G93EUBTBLYS3Q"><img src="images/paypal-donate-button.png" width="150" height="65" alt="Click here to make a donation to RAD Game Studios."></a></div>
        <br />
        
        <div class="blacktitle">Rewards for Donating</div>
        <table align="center" border="0"><tbody>
    		<tr>
      			<td><hr><p style="margin-left:0; margin-right:1.5em;">$1.00 Donation</p><hr></td>
      			<td><hr><p style="margin:0 0 0; border-left:.1em solid #858585; padding-left:1.5em;">Recieve a promo code to download a future paid game of your choice for free.</p><hr></td>
   			</tr>
    		<tr>
      			<td><p style="margin-left:0; margin-right:1.5em; text-align:left;">$5.00 Donation</p><hr></td>
      			<td><p style="margin:0 0 0; text-align:left; border-left:.1em solid #858585; padding-left:1.5em;">Recieve promo codes to download all future paid games for free.</p><hr></td>
    		</tr>
  		</tbody></table>
        <p class="center" style="font-weight:bold; font-size:.9em;">To recieve your promo code, you must donate before the game is published on Google Play.</p>
	</div>
    
</body>