</head>

<body>
    
    <div class="body">
      <p style="color:#B10002">*Game in development*</p>
      <h1 style="font-size:50px;">Warrior Guild</h1>
      <p>A retro-style RPG game for mobile devices.</p><br>
      <center>
        <img src="images/warriorguild/warrior.jpg" width="200" height="240" alt=""/>
      </center>
      <p style="margin:0 300px 0;">Hunt monsters and battle bosses in a quest for loot. Level up your pixel art character and unlock new skills and areas to explore.</p>
      <br>
    </div>
    
    <br>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- RAD Site Bottom Banner -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5076248265904799"
     data-ad-slot="8106901467"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    
</body>