body {
	background-color:#161616;
}

.body {
	background-color:#DCDCDC;;
	margin: 40px auto 100px auto;
	width:1000px;
	padding: 10px 0px 35px;
}

div.center {
	text-align: center;
	margin: 0 auto;
	display: block;	
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bluetitle {
	text-align:center;
	color:#224392;
	font: bold 2em/18px sans-serif;
	padding: 15px 0 15px 0;
	line-height: 1em;
}

.blacktitle {
	text-align:center;
	font: bold 1.4em/18px sans-serif;
	line-height:1em;
}

.redtitle {
	text-align:center;
	font: normal 1.1em/18px sans-serif;
	color:#B10002;
}

.warriortitle {
	text-align:center;
	color:#224392;
	font: bold 3.1em/18px sans-serif;
	line-height: 1em;
}

p {
	font: 1.1em/18px sans-serif;
	margin: 0px 200px 0px;
	line-height: 30px;
	text-indent:50px;
	text-align:justify;
}

p.center {
	text-indent:0;
	text-align:center;
}