a {
	text-decoration:none;
}

#gamelink {
	text-align:center;
	font: bold 1.5em/18px sans-serif;
	padding: 10px 10px 10px;
	border-radius: 1em;
}

.flappyforest {
	color: #000;
	background-color:#346EBD;
	border:thick solid #252525;
}
.flappyforest:hover {
	background-color:#6B92D8;	
}

.galaxyinvaders {
	color:#FFF;
	background-color:#003;
	border:thick solid #0C0D13;
}
.galaxyinvaders:hover {
	background-color:#181774;
}

.warriorguild {
	color: #000;
	background-color:#563D2C;
	border:thick solid #000;
}
.warriorguild:hover {
	background-color:#948471;
}